.details {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery {
  display: flex;
  gap: 16px;
}

.desc {
  color: var(--text);
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailsBlock ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  color: var(--text);
}
