.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  color: var(--main);
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingText {
  color: var(--main);
  font-weight: 500;
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray);
}

.icon {
  display: block;
}

.locationText {
  white-space: nowrap;
}

.inlineLocation {
  justify-content: flex-start;
  gap: 16px;
}

.inlineLocation .locationWrapper.inline {
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: 6px;
}
