.hero {
  text-align: center;
  background: url('/banner.png') center/cover no-repeat;
  /*min-width: 1440px;
  height: 696px;*/
}

.herocontent {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 260px 805px 260px 64px;
}

/*.title {
  color: var(--inputs);
}*/

.subject {
  margin-top: 16px;
  margin-bottom: 40px;
  color: var(--inputs);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  padding: 16px;
  width: 173px;
  height: 56px;
  background-color: #e44848;
}
