.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('/banner.png') center/cover no-repeat;
}

.herocontent {
  font-family: var(--font-inter);
  font-weight: 600;
  color: var(--inputs);
  padding-left: 64px;
}

.title {
  white-space: nowrap;
}
.subject {
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 16px 0;
  color: var(--inputs);
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--gray-biglight);
  border-radius: 200px;
  padding: 16px 0;
  width: 173px;
  height: 56px;
  background-color: var(--button);
  transition: color 0.2s ease;
}
.btn:hover {
  background-color: var(--button-hover);
}
