.catalog {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.container {
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-left: 64px;
  margin-top: 120px;
}

.error {
  color: #e44848;
  font-weight: 600;
}

.empty {
  color: var(--text);
  margin-top: 20px;
}
.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.loadMoreBtn {
  display: inline-block;
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 0;
  width: 145px;
  height: 56px;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.2s ease;
}

.loadMoreBtn:hover {
  border: 1px solid #d84343;
}
