.wrapper {
  display: flex;
  flex: 1;
  max-width: 1440px;
  width: 100%;
  padding: 48px 64px;
  margin: 0 auto;
  gap: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.loadMoreBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 0;
  width: 145px;
  height: 56px;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.2s ease;
}

.loadMoreBtn:hover {
  border: 1px solid var(--button-hover);
}
