.card {
  display: flex;
  gap: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
  padding: 24px;

  .card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }

  .imageWrapper {
    position: relative;
    flex-shrink: 0;
  }

  .image {
    object-fit: cover;
    border-radius: 10px;
    min-width: 292px;
  }

  .favoriteBtn {
    padding: 4px 0;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .favoriteBtn:hover {
    transform: scale(1.1);
  }

  .active img {
    filter: drop-shadow(0 0 4px #e44848);
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background: #f2f4f7;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
  padding: 12px 18px;
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  margin-right: 8px;
}

.rating span {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
